# Binaries
answer-comments
*.exe
*.dll
*.so
*.dylib

# Output from go test
*.test

# MacOS
.DS_Store

# Editor temp files
*~
*.swp

# Credentials and tokens
client_secret.json
token.json

# members file
members.csv

# Database and logs
comment_log.csv
comments.db*

# Vendor and build directories (if any)
vendor/
